<aside class="layout-sidebar">
  <!-- Folder Actions -->
  <nav>
    <ul>
      <li>
        <sl-button size="small" class="card-btn new-folder-btn">
          <sl-icon class="card-icon" name="folder-plus"></sl-icon><span>New Folder</span>
        </sl-button>
      </li>
      <li>
        <sl-button size="small" class="card-btn new-file-btn">
          <sl-icon class="card-icon" name="file-earmark-plus"></sl-icon><span>New File</span>
        </sl-button>
      </li>
      <% if (folderId) { %>
      <li>
        <sl-button size="small" class="card-btn share-folder-btn">
          <sl-icon class="card-icon" name="share"></sl-icon><span>Share Folder</span>
        </sl-button>
      </li>
      <li>
        <sl-button size="small" class="card-btn delete-folder-btn">
          <sl-icon class="card-icon" name="trash"></sl-icon><span>Delete Folder</span>
        </sl-button>
      </li>
      <% } %>
    </ul>
  </nav>
  </br>
  <!-- Folder Tree -->
  <%- include('tree', { baseUrl: '/folders'}) -%>
</aside>
